##
# {{ ansible_managed }}
#

output {
	elasticsearch {
		flush_size => '100'
		hosts => [ '{{ logstash.outputs.elasticsearch.host }}:{{ logstash.outputs.elasticsearch.port }}' ]
		index => 'logstash-%{+YYYY.MM.dd}'
	}
}
